* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  background-color: white;
  color: rgb(218, 14, 126);
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  font-weight: 200;
  width: 75%;
}

.home,
.about,
.project,
.contact {
  text-decoration: none;
  color: rgb(218, 14, 126);
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
}
